@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
}
.header div:first-child {
    width: 100%;
}
.header div:first-child img {
    width: 15%;
}
.header a {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}
.header .formulaire {
    background: #f0d054;
    padding: 10px 20px;
    border-radius: 20px;
}
nav {
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background-green {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: auto;
}
section {
    color: #583522;
    display: flex;
    justify-content: space-between;
}
section h1 {
    font-family: Signika;
    font-size: 60px;
    font-weight: 600;
    line-height: 73.92px;
    text-align: left;
}
.section-header {
    padding: 7%;
}
.section-header img {
    transform: rotate(180deg);
}
.banner {
    width: 50%;
}
.banner h2 {
    font-family: Signika;
    font-size: 40px;
    font-weight: 600;
    line-height: 49.28px;
    text-align: left;
}
.banner p {
    font-family: Jost;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.68px;
    text-align: left;
}
.flex-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-number p:first-child {
    color: #f0d054;
    padding: 20px;
    border-radius: 10px;
    font-size: 28px;
    background: rgba(232, 232, 232, 0.682);
    width: 26%;
}
.card-number p:last-child {
    width: 80%;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.8px;
    text-align: left;
}
.button-brown {
    background: #583522;
    color: #ffffff;
    width: 282px;
    height: 50px;
    border-radius: 27px;
    margin-top: 20px;
}
.list-section2 {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.68px;
    text-align: left;
    margin: 0;
    padding: 0;
}
.list-section2 li {
    padding: 20px 0;
    list-style: none;
}
.section2 p {
    font-family: Jost;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.68px;
    text-align: left;
}
.block-project {
    padding-right: 7%;
}
.block-project {
    padding-right: 7%;
}
.group-box-grey img {
    padding: 2%;
}
.phase {
    background: #a5d0c0e0;
    display: flex;
}
/* .flex-phase {
    background-image: url(img/round_backgroundgreen.svg);
    display: flex;
    justify-content: center;
    width: 50%;
} */
/********** FORM **********/

.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
form h2 {
    font-family: Signika;
    font-size: 40px;
    font-weight: 600;
    line-height: 49.28px;
    text-align: center;
}
form {
    background: #a5d0c0e0;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    text-align: center;
}
input , select{
    padding:10px;
    margin: 10px 5px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
}
input:focus {
    outline: none;
}
#email {
    width: 60%;
}
#name, #city {
    width: 28%;
}
select {
    width: 62%;
    margin: 10px 5px;
    text-align: center;
    margin: auto;
}

/********** FOOTER **********/

footer {
    background: #1D1D1D;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 7%;
}
.column-1 p{
    width: 40%;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer-nav {
    width: 50%;
    display: flex;
}
.order-object{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}